@model Solution
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no; viewport-fit=cover">
    <title>HUI</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/hui.css" />
    <link rel="stylesheet" href="~/content/css/main.css">
    <script src="~/content/js/flexible.min.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="btn-left"></div>
            <a href="index.html" class="btn-right-home"></a>
            <div class="dropdown">
                <a href="@Url.Action("Index", "Home")" class="dropdown-item">
                    <i class="icon back"></i>查看全部应用
                </a>
                <a href="download.html" class="dropdown-item">
                    <i class="icon download"></i>下载全部资料
                </a>
            </div>
        </header>
        <div class="hui-wrap">
            <div class="banner">
                <img src="@Url.Img(Model.BigPicUrl)" alt="">
            </div>
            <div class="hui-media-list">
                <ul>
                    @foreach (var item in Model.Products)
                    {
                        <li>
                            <div class="hui-media-list-img">
                                <img src="@Url.Img(item.SmallPicUrl)" />
                            </div>
                            <div class="hui-media-content">
                                <h1>@item.Title</h1>
                                <p>@item.SubTitle</p>
                            </div>
                            <div class="hui-media-right hui-form-radios">
                                <button type="button" class="button button-red">预览</button>
                                <input type="checkbox" value="@item.Id" name="c1" id="c@(item.Id)" /><label for="c@(item.Id)"></label>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="detail-button">
                <a id="btnDownload" class="hui-button button-red">发送至邮箱下载</a>
            </div>
        </div>
    </div>
    <script src="~/content/js/hui.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/content/js/hui-form.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/content/js/common.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnDownload").click(function () {
                var checked = $(".hui-media-list input[name=c1]:checked");
                if (checked.length == 0) {
                    return;
                }
                var ckb_value = [];
                checked.each(function () {
                    ckb_value.push($(this).val());
                });
                @*$.get('@Url.Action("GetContent", "Home")', { idList: ckb_value },
                    function (result) {
                        
                    });
                $.ajax({
                    url: "@Url.Action("SendEmail")",
                    type: "post",
                    data: { emailAddress: $("#txtEmail").val(), content: $("#txtContent").val()},
                    success: function (data) {

                    }
                })*@
            });
        })
    </script>
</body>

</html>