@model  List<Solution>
@{
    Layout = null;
}

<table border="0" cellspacing="0" cellpadding="0" style="width:100%;background:#DEDEDE">
    <tbody>
        <tr>
            <td>
                <div align="center">
                    <table style="width:750px;background:white" cellspacing="0" cellpadding="0">
                        <tr style="height:50px;width: 100%;background: #e3000f;">
                            <td align="right" valign="bottom" colspan="2" style="padding:10px 0 5px 0;">
                                <img style="height:40px;" src="@Url.GetRootPath("/Content/images/email_logo.png")" alt="logo图片">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img style="width:100%;" src="@Url.GetRootPath("/Content/images/spec-banner.jpg")" alt="banner图片">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="font-weight: 600;font-size: 15px;margin:5px 0">您好：</p>
                                <p style="font-weight: 600;font-size: 15px;margin:5px 0">根据您之前的选择，以下是相关的丹佛斯资料。</p>
                                <p style="font-weight: 600;font-size: 15px;margin:5px 0">请点击资料标题，即可查看更多细节。</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <p style="font-size: 15px;margin:5px 0">感谢您的支持，丹佛斯中国</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr style="height: 20px; background: #e0e0e0;">
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td colspan="2" style="padding-top:10px">
                                    <span style="color: #e20511;
                                    font-size: 17px;
                                    display: inline-block;
                                    border: 2px solid #e20511;
                                    border-radius: 15px;
                                    padding: 0rem 15px;
                                    margin: 10px 0 10px 0;">@m.Title</span>
                                </td>
                                <td></td>
                            </tr>
                            foreach (var n in m.Products)
                            {
                                <tr>
                                    <td colspan="2">
                                        <span style="display: inline-block;
                                        width: 5px;
                                        height: 5px;
                                        background-color: #e20511;
                                        border-radius: 50%;
                                        margin-right: 5px;
                                        vertical-align: middle;"></span> <a href="@Url.Download(n.FileUrl)" target="_blank" style="font-size: 15px;">@n.Title</a>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        }
                        <tr style="height: 20px; background: #e0e0e0;">
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img style="width:100%;" src="@Url.GetRootPath("/Content/images/email_bottom.png")" alt="bottom图片">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="color:#fff;text-align:center;font-size:12px;background: #b6000f;padding:5px 0">
                                关于隐私：丹佛斯不收集您的任何个人信息，您的邮箱仅用于本次发送产品资料。
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>
